body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgb(246, 243, 243);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .voter-info {
    margin-bottom: 20px;
  }
  
  .voter-info input {
    padding: 10px;
    margin: 5px;
    width: 80%;
    max-width: 200px;
    font-size: 16px;
  }
  
  .team-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .team {
    margin: 0 10px;
  }
  
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  input {
    width: 50px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #voters-list {
    margin-top: 20px;
    text-align: left;
    color: #3a0dbf;
  }
  
  .voter-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .voter-item span {
    font-weight: bold;
  }
  
  #total-score {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #f00b0b;
  }
  
  .Display the prediction{color: #f00b0b;}
  